*{
    padding: 0;
    margin: 0;
}
body{
  background-color: black;
}
button{
  cursor: pointer;
}

.startTitle{
  color: white; 
  font-size: 1.5rem; 
  text-align: center;
}

#hero{
    position: relative;
}

#hero video{
    height: 100%;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}
#hero button{
    width: 10em;
    border-style: none;
    background-color: transparent;
}
#hero button img{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.card {
    border: none;
  }
.card-title{
    color: white;
    text-align: center;
  }
  .card button{
    border-style: none;
  }
  #content p{
    color: white;
    position: relative;
    text-align: center;
    background-color: rebeccapurple;
    font-size: 1.5rem;
    margin: 0;
  }
  #content button{
    background-color: transparent;
  }
  .image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 80%;
    max-height: 90%;
    overflow: auto;
}

.image-container2{
  height: 100%;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}
.image-container2 img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Styling for the close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Styling for the image */
.image-container img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
  .image-container {
    top: 50%;
    right: -50%;
}
}
.party-content img{
  width: 20%;
}
.party-bass1{
  float: left;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: transparent;
}
.party-ball{
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.party-bass2{
  float: right;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  background-color: transparent;
}
.party-char1{
  position: absolute;
  margin-top: 5rem;
  background-color: transparent;
}
.party-char2{
  position: absolute;
  z-index: 20;
  right: 20%;
  margin-top: 5rem;
  background-color: transparent;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-100px, -200px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(300px, 200px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-300px, 100px) rotate(0deg); }
  70% { transform: translate(300px, 100px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(100px, 200px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#confetti{
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 100;
  margin: auto;
  display: block;
  animation: shake2 0.5s;
  animation-iteration-count: infinite;
}

.blink {
  animation: blinker 0.25s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.exitBtn {
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px; 
  width: 10%;
  border-style: none;
  background-color: black;
}

.exitBtn img{
  width: 100%;
}

#firstGift, #secondGift, #thirdGift{
  background-color: transparent;
  border-style: none;
}
.card{
  background-color: transparent;
}